{% extends 'adminhtml/includes/main.html' %}

{% block mainBlock %}
<!-- Small boxes (Stat box) -->
{% include 'adminhtml/includes/alert.html' %}
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{{ customer_count }}</h3>

                <p>Customers</p>
            </div>
            <div class="icon">
                <i class="ion ion-person"></i>
            </div>
            <a class="small-box-footer" href="{% url 'customer_list' %}">More info <i
                    class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
<!-- /.row -->
{% endblock %}