{% extends 'adminhtml/includes/main.html' %}
{% load static %}
{% block headBlock %}
<link href="{% static 'admin/css/users/style.css' %}" rel="stylesheet">
<!-- DataTables -->
<link href="{% static 'admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<link href="{% static 'admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<link href="{% static 'admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block mainBlock %}
<div class="container-fluid">
    {% include 'adminhtml/includes/alert.html' %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered table-hover" id="example2">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Sub Category</th>
                            <th>Brand</th>
                            <th>Name</th>
                            <th>Mrp</th>
                            <th>Discount</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if product_data.count %}
                        {% for product in product_data %}
                        <tr>
                            <td>
                                <a href="{{ product.image.url }}" target="_blank">
                                    <img alt="{{ product.image.name }}" class="profile-pic"
                                         src="{{ product.image.url }}" style="width:80px">
                                </a>
                            </td>
                            <td>{{ product.sub_category }}</td>
                            <td>{{ product.brand }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.mrp }}</td>
                            <td>{{ product.discount }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.stock }}</td>
                            {% if product.status %}
                            <td><a href="{% url 'product_status' id=product.id %}"
                                   style="color: green" title="Click for out of stock">In Stock</a></td>
                            {% else %}
                            <td><a href="{% url 'product_status' id=product.id %}"
                                   style="color: red" title="Click for In Stock">Out Of Stock</a></td>
                            {% endif %}
                            <td>
                                <a href="{% url 'product_edit' id=product.id %}">
                                    <button class="btn btn-success" title="Edit" type="button"><i
                                            class="fas fa-edit"></i></button>
                                </a>
                                <a href="{% url 'product_image_list' id=product.id %}">
                                    <button class="btn btn-success" title="More Images" type="button"><i
                                            class="fas fa-show"></i></button>
                                </a>
                                <a href="{% url 'product_delete' id=product.id %}">
                                    <button class="btn btn-danger" title="Delete" type="button"><i
                                            class="far fa-trash-alt"></i></button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td>No record found(s)</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
{% endblock %}

{% block footerBlock %}
<!-- DataTables  & Plugins -->
<script src="{% static 'admin/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script>
        $(function () {
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });

</script>
{% endblock %}