{% extends 'adminhtml/includes/main.html' %}
{% load static %}
{% block headBlock %}
<link href="{% static 'admin/css/users/style.css' %}" rel="stylesheet">
<!-- DataTables -->
<link href="{% static 'admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<link href="{% static 'admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<link href="{% static 'admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block mainBlock %}
<div class="container-fluid">
    {% include 'adminhtml/includes/alert.html' %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered table-hover" id="example2">
                        <thead>
                        <tr>
                            <th>Profile Pic</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile Number</th>
                            <th>Joining Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if customer_data.count %}
                        {% for customer in customer_data %}
                        <tr>
                            <td>
                                <a href="{{ customer.profile_pic.url }}" target="_blank">
                                    <img alt="{{ customer.profile_pic.name }}" class="profile-pic"
                                         src="{{ customer.profile_pic.url }}" style="width:80px">
                                </a>
                            </td>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.mobile }}</td>
                            <td>{{ customer.date_joined }}</td>
                            {% if customer.is_active %}
                            <td><a href="{% url 'customer_status' id=customer.id %}"
                                   style="color: green" title="Click for InActive">Active</a></td>
                            {% else %}
                            <td><a href="{% url 'customer_status' id=customer.id %}"
                                   style="color: red" title="Click for Active">InActive</a></td>
                            {% endif %}
                            <td>
                                <a href="{% url 'customer_edit' id=customer.id %}">
                                    <button class="btn btn-success" title="Edit" type="button"><i
                                            class="fas fa-edit"></i></button>
                                </a>
                                <a href="{% url 'customer_delete' id=customer.id %}">
                                    <button class="btn btn-danger" title="Delete" type="button"><i
                                            class="far fa-trash-alt"></i></button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td>No record found(s)</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
{% endblock %}

{% block footerBlock %}
<!-- DataTables  & Plugins -->
<script src="{% static 'admin/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script>
        $(function () {
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });


</script>
{% endblock %}